---
export interface Props {
	title: string;
	image: string;
}

const { title, image } = Astro.props;
---

<li class="align-center flex flex-col rounded bg-white p-4 shadow-md">
	<img class="p-3" src={image} alt={title} />
	<h2 class="text-center">
		{title}
	</h2>
</li>
