---
export interface Props {
	title: string;
	image: string;
}

const { title, image } = Astro.props;
---

<li class="flex flex-col align-center bg-white rounded p-4 shadow-md">
	<img class="p-3" src={image} alt={title}/>
	<h2 class="text-center">
		{title}
	</h2>
</li>
