---
export interface Props {
    placeholder?: string;
}

const { placeholder = "Search" } = Astro.props;
---

<div class="flex w-full gap-2">
    <div class="absolute top-0 mt-4 ml-4">
        <img class="h-4 w-4 fill-inherit" src="/img/icons/search.svg" alt="Search">
    </div>
    <input
        type="search"
        name="query"
        id="search-query"
        placeholder={placeholder}
        class="h-12 w-full grow rounded-full bg-white px-5 pl-10 text-sm shadow-md focus:outline-none"
    />
</div>

<script>
    const searchInput = document.querySelector(
        "#search-query"
    ) as HTMLInputElement;
    const symbols = document.querySelectorAll(
        ".symbol-title"
    ) as NodeListOf<HTMLHeadingElement>;

    searchInput.addEventListener("input", (event) => {
        const target = event.target as HTMLInputElement;
        const value = target.value.toLowerCase();
        symbols.forEach((element) => {
            const isVisible = element
                .textContent!.toLowerCase()
                .includes(value);
            element.parentElement!.classList.toggle("hidden", !isVisible);
        });
    });
</script>
